{% extends 'layouts/base.html' %}
{% block nav %}
    {% include 'layouts/nav.html' %}
{% endblock %}
{% block content %}
<div class="container mx-auto">
    <div>
        <img alt="Workflow" class="w-auto h-12 mx-auto m-5"
            src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg">
    </div>
    <h1 class="text-center">Sr/Sra  <span class="text-indigo-600 font-bold">{{ user }}</span></h1>
    <br>
    <div class='flex justify-center'>
        {% if visites %}
        <table class="border-collapse w-7/12">
            <thead>
                <tr>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Metge</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Hora</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Dia</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Informe</th>
                </tr>
            </tr>
        </thead>
        <tbody>
            {% for visita in visites %}
            <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Metge</span>
                    {{ visita.metge }}
                </td>
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Hora</span>
                    {{ visita.hora }}
                </td>
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Dia</span>
                    {{ visita.dia|date:'d/m/Y' }}
                </td>
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Informe</span>
                    <p class="text-justify text-indigo-500">{{ visita.informe }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1 class="text-center text-2xl font-bold text-indigo-600">No hi ha cap visita finalitzada</h1>
    {% endif %}
</div>
{% endblock %}