{% extends 'layouts/base.html' %}
{% block nav %}
    {% include 'layouts/nav.html' %}
{% endblock %}
{% block content %}
<div class="container mx-auto">
    {% if missatge %}
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative my-3" role="alert">
            <strong class="font-bold">Visita Modificada!</strong>
            <span class="block sm:inline">{{ missatge }}</span>
        </div>
    {% elif missatge_red %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-3" role="alert">
            <strong class="font-bold">Visita Eliminada!</strong>
            <span class="block sm:inline">{{ missatge_red }}</span>
        </div>
    {% endif %}
    <div>
        <img alt="Workflow" class="w-auto h-12 mx-auto m-5"
            src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg">
    </div>
    <h1 class="text-center">Sr/Sra  <span class="text-indigo-600 font-bold">{{ user }}</span></h1>
    <br>
    <div class='flex justify-center'>
        {% if visites %}
        <table class="border-collapse w-7/12">
            <thead>
                <tr>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Metge</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Hora</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Dia</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Modificar</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for visita in visites %}
                <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Metge</span>
                        {{ visita.metge }}
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Hora</span>
                        {{ visita.hora }}
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Dia</span>
                        {{ visita.dia|date:'d/m/Y' }}
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Modificar</span>
                        <button id="{{ visita.dia|date:'Y-m-d' }}/{{ visita.hora }}/{{ visita.metge }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Modificar</button>
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Eliminar</span>
                        <form action="/modificar" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ visita.dia|date:'Y-m-d' }}/{{ visita.hora }}/{{ visita.metge }}">
                            <button name="eliminar" type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h1 class="text-center text-2xl font-bold text-indigo-600">No has demanat cap visita encara</h1>
        {% endif %}
        <script>
            document.querySelectorAll('button').forEach(item => {
                item.addEventListener('click', event => {
                    let id = event.target.id;
                    console.log(id);
                    fetch(`http://localhost:3500/api/modificar/${id}`)
                    .then(response => response.json())
                    .then(data => {
                        f_tractar_dades(data, id);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                })
            })

            function f_tractar_dades(data, id) {
                let dates = {};

                data.forEach(element => {
                    let date = element.split('T')[0];
                    let hour = element.split('T')[1];
                    if (dates[date] == undefined) {
                        dates[date] = [];
                    }
                    dates[date].push(hour);
                });

                console.log(dates);

                if (document.getElementById('div_form')) {
                    document.getElementById('div_form').remove();
                }

                let div = document.createElement('div');
                div.setAttribute('id', 'div_form');
                div.setAttribute('class', 'flex justify-center');

                let form = document.createElement('form');
                form.setAttribute('action', 'http://localhost:3500/modificar');
                form.setAttribute('method', 'POST');
                form.setAttribute('class', 'flex flex-row justify-center items-center bg-gray-200 p-5 rounded m-3');
                
                let metge = document.createElement('input');
                metge.setAttribute('type', 'hidden');
                metge.setAttribute('name', 'metge');
                metge.setAttribute('value', id.split('/')[2]);

                let p_dia = document.createElement('p');
                p_dia.setAttribute('class', 'm-2 p-2');
                p_dia.innerHTML = 'Dia: ';

                let p_hora = document.createElement('p');
                p_hora.setAttribute('class', 'm-2 p-2');
                p_hora.innerHTML = 'Hora: ';

                let select = document.createElement('select');
                select.setAttribute('name', 'dia');
                select.setAttribute('class', 'm-2 p-2 rounded');
                for (const key in dates) {
                    let option = document.createElement('option');
                    option.setAttribute('value', key);
                    option.innerHTML = key.split('-')[2] + '/' + key.split('-')[1] + '/' + key.split('-')[0];
                    select.appendChild(option);
                }
                select.selectedIndex = -1;

                let select2 = document.createElement('select');
                select2.setAttribute('name', 'hora');
                select2.setAttribute('id', 'select2');
                select2.setAttribute('class', 'm-2 p-2 rounded');

                select.addEventListener('change', event => {
                    let select = event.target;
                    let hours = dates[select.value];
                    let select2 = document.querySelector('#select2');
                    select2.innerHTML = '';
                    hours.forEach(hour => {
                        let option = document.createElement('option');
                        option.setAttribute('value', hour);
                        option.innerHTML = hour;
                        select2.appendChild(option);
                    });
                })

                let submit = document.createElement('input');
                submit.setAttribute('type', 'submit');
                submit.setAttribute('value', 'Modificar');
                submit.setAttribute('class', 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2');
                submit.setAttribute('id', 'modificar');
                submit.setAttribute('name', 'modificar');

                let csrf = document.createElement('input');
                csrf.setAttribute('type', 'hidden');
                csrf.setAttribute('name', 'csrfmiddlewaretoken');
                csrf.setAttribute('value', '{{ csrf_token }}');

                form.appendChild(csrf);
                form.appendChild(metge);
                form.appendChild(p_dia);
                form.appendChild(select);
                form.appendChild(p_hora);
                form.appendChild(select2);
                form.appendChild(submit);
                
                div.appendChild(form);
                document.body.insertBefore(div, document.body.children[5]);

                if (document.getElementById('enunciat')) {
                    document.getElementById('enunciat').remove();
                }
                let header2 = document.createElement('h2');
                header2.setAttribute('id', 'enunciat');
                header2.setAttribute('class', 'text-center text-2xl font-bold text-gray-700 mt-3 mb-3');
                header2.innerHTML = `Estas modificant ${id.split('/')[2]} el dia ${id.split('/')[0]} a les ${id.split('/')[1]}`;
                document.body.insertBefore(header2, document.body.children[4]);
            }
        </script>
    </div>
</div>
{% endblock %}