{% extends 'layouts/base.html' %}
{% block content %}
<div class="container mx-auto">
    <div>
        <img class="w-auto h-12 mx-auto m-5" src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg"
            alt="Workflow">
    </div>
    <h1 class="text-center">Bengivut Sr/Sra <span class="text-indigo-600 font-bold">{{ user }}</span></h1>
    <br>
    <div class="flex justify-center">
        <div class="flex flex-col items-center w-64">
            <a href="/visites" class="w-64 inline-flex justify-center items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                <i class="fas fa-plus mr-2"></i>
                Demanar Visita
            </a>
        </div>
    </div>
    <br>
    <div class="flex justify-center">
        <div class="flex flex-col items-center w-64">
            <a href="/modificar" class="w-64 inline-flex justify-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                <i class="fas fa-pencil-alt mr-2"></i>
                Modificar o Cancelar Visita
            </a>
        </div>
    </div>
    <br>
    <div class="flex justify-center">
        <div class="flex flex-col items-center w-64">
            <a href="finalitzades" class="w-64 inline-flex justify-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                <i class="fas fa-search mr-2"></i>
                Visites Finalitzades
            </a>
        </div>
    </div>
    <br>
    <div class="flex justify-center mt-2">
        <a href="/logout" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
            Tancar Sessió
        </a>
    </div>
</div>
{% endblock %}