{% extends 'layouts/base.html' %}
{% block nav %}
    {% include 'layouts/nav.html' %}
{% endblock %}
{% block content %}
<div class="container mx-auto">
    {% if demanada %}
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Visita demanada!</strong>
            <span class="block sm:inline">La seva visita ha estat demanada correctament.</span>
        </div>
    {% endif %}
    <div>
        <img alt="Workflow" class="w-auto h-12 mx-auto m-5"
            src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg">
    </div>
    <h1 class="text-center">Sr/Sra  <span class="text-indigo-600 font-bold">{{ user }}</span></h1>
    <br>
    <h2 class="text-center"><span class="text-indigo-600 font-bold">Demanar una visita</span></h2>
    <form action='/visites' class="w-full max-w-lg mx-auto d-flex items-center justify-center" method='post'>
        {% csrf_token %}
        <label class="block text-sm font-medium text-gray-700" for="metge">Metge</label>
        {% if metge_id %}
            {% for metge in metges %}
                {% if metge.id|stringformat:"s" == metge_id %}
                    <input type="hidden" id='mh' name="metge_hidden" value="{{ metge.id }}">
                    <h2 class="text-center"><span class="text-indigo-600 font-bold text-6xl">{{ metge.nom }}</span></h2>
                    <Button class="mt-3 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded-full flex items-center justify-center"
                    ><a href="/visites">Canviar metge</a></Button>
                {% endif %}
            {% endfor %}
        {% else %}
            <select class="border-2 mt-1 border-violet-800 focus:border-indigo-500 focus:ring focus:ring-indigo-500 p-5 font-bold text-2xl"
                id="metge"
                name="metge">
                {% for metge in metges %}
                    <option value="{{ metge.id }}">{{ metge.nom }}</option>
                {% endfor %}
            </select>
            <br>
            <input class="mt-3 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4"
                    type="submit"
                    name="cita"
                    value="Disponibilitat"/>
        {% endif %}
    </form>
    <form action='/visites' class="w-full max-w-lg mx-auto d-flex items-center justify-center" method='post'>
        {% csrf_token %}
        <input type="hidden" name="mhp" value="{{ metge_id }}">
    <div class='mt-3 d-flex items-center justify-center w-full max-w-lg mx-auto'>
        <label id='label_dia' class="block text-sm font-medium text-gray-700" for="dia">Dia</label>
        <select class="border-2 mt-1 border-violet-800 focus:border-indigo-500 focus:ring focus:ring-indigo-500 p-3 font-bold text-1xl"
                id="dia"
                name="dia">
            {% for dia in dies %}
            <option value="{{ dia|date:'d/m/Y' }}">{{ dia|date:'d/m/Y' }}</option>
            {% endfor %}
        </select>
    </div>
    <div class='mt-3 d-flex items-center justify-center w-full max-w-lg mx-auto'>
        <label id='label_hora' class="block text-sm font-medium text-gray-700" for="hora">Hora</label>
        <select class="border-2 mt-1 border-violet-800 focus:border-indigo-500 focus:ring focus:ring-indigo-500 p-3 font-bold text-1xl"
                id="hora"
                name="hora">
        </select>
    </div>
    <div class='mt-3 d-flex items-center justify-center w-full max-w-lg mx-auto'>
        <input class="mt-3 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4"
                type="submit"
                name="demanar"
                id="demanar"
                value="Demanar Visita"/>
    </div>
    </form>
    <script>
        let label_hora = document.getElementById('label_hora');
        let hora = document.getElementById('hora');
        document.getElementById('dia').selectedIndex = -1;
        let demanar = document.getElementById('demanar');
        label_hora.style.display = "none";
        hora.style.display = "none";
        demanar.style.display = "none";

        dia.onchange = function() {
            let metge = document.getElementById('mh').value;
            let dia = document.getElementById('dia').value;
            dia = dia.split("/").reverse().join("-");
            let url = "http://localhost:3500/api/visites/" + metge + "_" + dia;
            console.log(url)
            let http = new XMLHttpRequest();
            http.open("GET", url, true);
            http.setRequestHeader("Content-type", "application/json");
            http.onreadystatechange = function() {
                if (http.readyState == 4 && http.status == 200) {
                    let data = JSON.parse(http.responseText);
                    f_manipular(data);
                }
            }
            http.send();
        }

        function f_manipular(data) {
            let select = document.getElementById('hora');
            select.innerHTML = "";
            for (const element of data) {
                let option = document.createElement('option');
                option.value = element;
                option.text = element;
                select.appendChild(option);
            }
            label_hora.style.display = "block";
            hora.style.display = "block";
            demanar.style.display = "block";
        }
    </script>
</div>
{% endblock %}